# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/raw/*
data/processed/*

# Machine learning models
models/*.pkl
models/*.joblib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log